{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <h1 class="page-header">
        Administrator
        <a class="btn btn-default" href="{{ path('administrator') }}" role="button">powrót do listy</a>
    </h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary pull-left" href="{{ path('administrator_edit', { 'id': entity.id }) }}" role="button">edytuj</a>
    <a class="btn btn-danger pull-right" href="{{ path('administrator_delete', { 'id': entity.id }) }}" role="button">usuń</a>
{% endblock %}
