{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1 class="page-header">
        Usuwanie oceny
        <a class="btn btn-default" href="{{ path('uczen') }}" role="button">powrót do listy</a>
    </h1>

    <div class="alert alert-warning" role="alert">
        <strong>Ostrożnie!</strong>
        Czy jesteś pewien, że chcesz na zawsze usunąć ocenę <em><b>{{ entity }}</b> ucznia <b>{{ entity.student }}</b> z przedmiotu <b>{{ entity.subject }}</b></em>?
    </div>

    <a class="btn btn-success pull-left" href="{{ path('uczen') }}" role="button">anuluj</a>
    {{ form(form) }}
{% endblock %}
